<body>
<div class="main">
        <div class="welcome">
            <h1>Dashboard</h1>
            <p>What would you like to do today?</p>
        </div>

        <div class="menu-grid">
            <div class="menu-item" routerLink="/Vehicles">
                <h3>Browse Cars</h3>
                <p>View available vehicles</p>
            </div>
            <div class="menu-item" routerLink="/booking">
                <h3>My Bookings</h3>
                <p>View your rentals</p>
            </div>
            <div class="menu-item">
                <h3>Profile</h3>
                <p>Manage your account</p>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>