<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <i class="fa fa-cogs"></i> AdminPanel
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="dashboard"><i class="fa fa-home"></i> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Vehicles"><i class="fa fa-users"></i> Vehicles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="booking"><i class="fa fa-bar-chart"></i> Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-cog"></i> LogOut</a>
          </li>
          <!-- <li class="nav-item">
            <button class="btn btn-logout ms-3"><i class="fa fa-sign-out"></i> Logout</button>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  </body>
  <router-outlet></router-outlet>