<body>
  <div class="container-fluid">
    <div class="row g-4 ">
      <!-- Booking List (col-8) -->
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header bg-warning text-dark">
            <i class="fa fa-list"></i> Booking List
          </div>
          <div class="card-body booking-scroll">
            <div class="row g-3">
              @for (item of bookingList; track $index) {
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="booking-card">
                  <h6><i class="fa fa-user"></i> {{ item.customerName }}</h6>
                  <p class="icon-text"><i class="fa fa-map-marker"></i>{{ item.customerCity }}</p>
                  <p class="icon-text"><i class="fa fa-map-marker"></i>{{ item.brand }} {{item.model}}</p>
                  <p class="icon-text"><i class="fa fa-car"></i>{{ item.carId }}</p>
                  <p class="icon-text"><i class="fa fa-calendar"></i>{{ item.bookingDate }}</p>
                  <p class="icon-text"><i class="fa fa-money"></i>{{ item.discount }}</p>
                  <div class="d-flex justify-content-end mt-1">
                    <!-- <button class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></button> -->
                    <button class="btn btn-sm btn-danger ms-2" (click)="DeleteBooking(item.bookingId)"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header bg-warning text-dark">
            <i class="fa fa-plus-circle"></i> Add / Edit Booking
          </div>
          <div class="card-body">
            <form [formGroup]="bookingForm">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="bookingId" class="form-label">Booking ID</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="bookingId"
                    placeholder="Enter ID"
                  />
                </div>
                <div class="col-md-6">
                  <label for="carId" class="form-label">Car ID</label>
                  <select class="form-control" formControlName="carId">
                    @for (item of carList; track $index) {
                    <option [value]="item.carId">{{ item.regNo }}</option>
                    }
                  </select>
                  <!-- <input type="number" class="form-control" formControlName="carId" id="carId" placeholder="Enter Car ID"> -->
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="customerName" class="form-label">Customer Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="customerName"
                    id="customerName"
                    placeholder="Enter Name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="customerCity" class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="customerCity"
                    id="customerCity"
                    placeholder="Enter City"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="mobileNo" class="form-label">Mobile No</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="mobileNo"
                    id="mobileNo"
                    placeholder="Enter Mobile"
                    [class.is-invalid]="bookingForm.get('mobileNo')?.invalid && bookingForm.get('mobileNo')?.touched"
                  />
                  <div class="invalid-feedback" *ngIf="bookingForm.get('mobileNo')?.invalid && bookingForm.get('mobileNo')?.touched">
                    Please enter a valid 10-digit mobile number.
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    id="email"
                    placeholder="Enter Email"
                    [class.is-invalid]="bookingForm.get('email')?.invalid && bookingForm.get('email')?.touched"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="bookingDate" class="form-label">Booking Date</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="bookingDate"
                    id="bookingDate"
                  />
                </div>
                <div class="col-md-6">
                  <label for="discount" class="form-label">Discount</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="discount"
                    id="discount"
                    placeholder="Enter Discount"
                  />
                </div>
              </div>

              <div class="mb-3">
                <label for="totalBill" class="form-label">Total Bill Amount</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="totalBillAmount"
                  id="totalBill"
                  placeholder="Enter Amount"
                />
              </div>

              <div class="d-grid">
                <button type="button" (click)="onSave()" class="btn btn-primary">
                  <i class="fa fa-save"></i> Save Booking
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
